
#nav{

    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372); 
    color:white;
    
}

#logo-letras{
    color:white
}

.logo{
    width: 50px;
    margin:5px;
}

#contenedor-logo {
    display: flex;
    flex-direction: row;
}
#logo-letras {
    align-self: center;
    margin: 0px;
}

#home {
    color:white;
}

#fav {
    color:white;
    margin-left: 0;
}